{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>IFRN</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css'%}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/noticia.css'%}">
    <script src='main.js'></script>
</head>
<body>
    <a href="{% url 'main' %}">Voltar</a>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo">
            <img src="{% static 'img/logoifrn.png' %}" alt="IFRN Logo">
        </div>
        <nav class="navbar">

            <div class="navbar-menu">
                <div class="dropdown">
                    <a href="#">Processos Seletivos</a>
                    <div class="dropdown-content">
                        <a href="#">Bolsas para Estudantes</a>
                        <a href="#">Empreenda no IFRN</a>
                        <a href="#">Estude no IFRN</a>
                        <a href="#">Gestão do IFRN</a>
                        <a href="#">Internacionalização</a>
                        <a href="#">Monitoria e Tutoria</a>
                        <a href="#">Pesquise no IFRN</a>
                        <a href="#">Servidores</a>
                        <a href="#">Trabalhe no IFRN</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Cursos</a>
                    <div class="dropdown-content">
                        <a href="#">Técnicos</a>
                        <a href="#">Superiores</a>
                        <a href="#">Pós-Graduação</a>
                        <a href="#">Outros</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Campi</a>
                    <div class="dropdown-content">
                        <a href="#">Apodi</a>
                        <a href="#">Caicó</a>
                        <a href="#">Canguaretama</a>
                        <a href="#">Natal Central</a>
                        
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Institucional</a>
                    <div class="dropdown-content">
                        <a href="#">Apresentação</a>
                        <a href="#">Administração</a>
                        <a href="#">Comissões Permanentes</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">Acesso à Informação</a>
                    <div class="dropdown-content">
                        <a href="#">Serviço de Informação ao Cidadão</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">Eventos</a>
                </div>
                <div class="dropdown">
                    <a href="#">Serviços</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Banners -->
    <div class="banner-container">
        <div class="banner">
            <img src="{% static 'img/proitec.png' %}" alt="ProITEC">
        </div>
        <div class="banner">
            <img src="{% static 'img/modoaviao.png' %}" alt="Modo Avião Ativado">
        </div>
        <div class="banner">
            <img src="{% static 'img/partiu.png' %}" alt="#Partiu">
        </div>
        <div class="banner">
            <img src="{% static 'img/pedemeia.png' %}" alt="Pé de Meia">
        </div>
    </div>

    <section class="noticias-section">
        <div class="noticias-header">
            <h2>Notícias</h2>
            <a href="#" class="ver-todas">Todas as notícias →</a>
        </div>

        <div class="noticias-grid">
            <div class="noticia-card">
                <img src="{% static 'img/propriedade.png' %}" alt="Notícia 1">
                <p class="categoria">Inovação</p>
                <a href="{% url 'noticia01' %}">
                <h3 class="titulo">Série especial destaca inovações do IFRN em propriedade intelectual e tecnologias patenteadas</h3> 
                </a>
                <p class="resumo">Primeira matéria traz o Regulador Eletromagnético de Frequência</p>
                <p class="tempo">Há 8 horas, 7 minutos</p>
          
            </div>

            <div class="noticia-card">
                <img src="{% static 'img/projetos.png' %}" alt="Notícia 2">
                <p class="categoria">Pesquisa</p>
                <a href="{% url 'noticia02' %}">
                <h3 class="titulo">IFRN promove equidade de gênero na ciência</h3>
                </a>
                <p class="resumo">Oportunidade de fomento às pesquisas de jovens cientistas é financiada pela PROPI; submissões abertas até 13 de maio</p>
                <p class="tempo">Há 15 horas, 35 minutos</p>
                
            </div>

            <div class="noticia-card">
                <img src="{% static 'img/proitec2.png' %}" alt="Notícia 3">
                <p class="categoria">ProITEC 2025</p>
                <a href="{% url 'noticia01' %}">
                <h3 class="titulo">IFRN prorroga prazo para solicitar a isenção da taxa de inscrição do ProITEC 2025</h3>
                </a>
                <p class="resumo">Programa tem como objetivo preparar estudantes para o Exame de Seleção; prazo para solicitação vai até o dia 7 de maio</p>
                <p class="tempo">Há 15 horas, 49 minutos</p>
            
            </div>

            <div class="noticia-card">
                <img src="{% static 'img/pessoas.png' %}" alt="Notícia 4">
                <p class="categoria">Internacionalização</p>
                <a href="{% url 'noticia02' %}">
                <h3 class="titulo">IFRN participa de conferência anual sobre Educação Internacional</h3>
                </a>
                <p class="resumo">Programação contou com palestras e oficinas sobre o tema; evento ocorreu de 26 a 30 de abril, em Brasília</p>
                <p class="tempo">Há 1 dia, 15 horas</p>
                
            </div>
        </div>
    </section>
</body>
</html>

